.header {
  display: flex;
  justify-content: space-between;
  a {
    margin-left: 15px;
  }
  margin-bottom: 35px;
}
.my-code-editor {
    .editor-container {
      // height: calc(100vh - 100px);
    }
}

input:focus, input:focus-visible {
  border: 2px solid #666;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
